body{
    font-family: "Guardian-EgypTT","Charter","Charter Bitstream","Cambria","Noto Serif Light","Droid Serif","Georgia","serif";
    margin: 0px;
    padding: 0px;
}
nav{
    width: auto;
    height: 53px;
    }
.nav-bar{
    padding-top: 12px;
    margin: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar{
    justify-content: right;
    display: flex;
    align-items: center;
    width:860px;
    height: 44px;
    border: 2px solid black;
    border-radius: 25px;
}
.icons{
    width: 70px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    }
.sign-in{
    display: flex;
    font-size: 20px;
    margin-left: 30px;
}
.etsy{
    display: flex;
    font-size: 40px;
    margin-right: 20px;
    margin-left: -10px;
    color: var(--clg-color-app-utility-background-orange-base, #F1641E) !important;
}
nav>div>i{
    display: flex;
    margin-left:0px;
    margin-right: 0px;
    font-size: 20px;
}
.search-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1641E;
    width: 5%;
    height: 90%;
    border-radius: 50%;
    margin-right: 3.5px;
}
.search-logo>i{
    display: flex;
    color: white;
    font-size: 22px;
}
.value{
    height:50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid lightgray;
    font-size: 15px;
}
.cod{
    font-weight: bold;
    margin-right: 45px;
}
.msg{
    margin-bottom: -21px;
    margin-top: 20px;
    font-size: 30px;
text-align: center;    
}

.parent{
    flex-wrap: wrap;
    margin-top: 70px;
    display: flex;
    margin-left: 210px;
}
.ss{
    margin: 0px 7px;
    width: 150px;
    height: 180px;
    }
.child{
    overflow: hidden;
    width: 120px;
    height: 130px;
    border-radius: 50%;
    
}
.child-img>img{
    width: 150px;
    height: 150px;
    }
.desc{
    font-weight: bold;   
}
.desc:hover{
    cursor: pointer;
}
h1{
    font-weight: lighter;
    text-align: center;
}


.grand1{
    height: 100%;
    width: 95%;
    text-align: center;
    margin: 0px 12px;
    display: flex;
    flex-wrap: wrap;
}
.parent1{
    text-align: center;
    margin-top: 130px;
    margin-left: 15px;
    width: 190px;
    height: 210px;
}
.child1{ display: flex;
    margin: 0px 30px;
    overflow: hidden;
    border-radius: 5%;
    width: 180px;
    height: 290px;
}
.child-img1 > img{
    width: 100%;
    height: 100%;
    }
.desc1{
    font-weight: bold;
    display: flex;
    margin-top: 10px;
    margin-left: 40px;   
}
.desc1:hover{
    cursor: pointer;
}
h2{
    text-align: center;
}
